*{
    margin: 0;
    padding: 0;
}
/* comon class */
.color{
    color: black;
}

.nav-content{
    display: flex;
    padding: 30px 160px;
    justify-content: space-between;
   
}
.nav-btn{
    padding: 14px 30px;
    color: darkcyan;
    border-radius:8px;
    font-weight: 700;
    border: 3px solid darkcyan;
}
/* start banner */
main{
    padding: 0px 160px;
}


.banner{
    display: flex;
    background-color:#9de5ff ;
    height: 550px;align-items: center;
    padding: 0px 50px;
    justify-content: space-between;
    border-radius: 8px;
}
.subtitle{
    color: dimgray;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 15px;
}
.title{
    font-size: 60px;
    line-height: 60px;    
}
.banner-btn{
    padding: 10px 20px;
    background-color: #0048ba;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: 700;
    font-size: 20px;
}
/* pillar section */
.pillar {
    margin-top: 50px ;
}
.section-title{
    font-size: 35px;
    font-weight: 900;
    padding: 20px 0px;
}
.cards{
    display: flex;
    gap: 20px;
   
}
.card{
    height: 260px;
    width: 250px;
    background-color: #eaf9f5;
    padding: 25px;
    color: black;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
}
.card-title{
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0px;
}
/* vision section */
.v-card{
    width: 300px;
    background-color: #5cb3ff;
    color: black;
    padding: 25px;
    margin-top: 20px;
    border: none;
    border-radius: 7px;
}
.vcard-title{
    font-weight: 600;
    font-size: 25px;
    padding: 20px 0px;
}
.Learn-More{
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;

}
.vision-cards{
    display: flex;
    justify-content:space-between;
}
/* start news */
.block{
    display: flex;
    background-color: #f2f3f4;
    padding: 25px;
    gap: 25px;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.block>img{
    border-radius: 15px;
    height: 200px;
}
.block-title{
    font-size: 30px;
    font-weight: 700;
}